@import "tailwindcss";

@theme {
    --color-pro-red: hsl(14, 86%, 42%);
    --color-pro-green: hsl(159, 69%, 38%);

    --color-pro-rose-50: hsl(20, 50%, 98%);
    --color-pro-rose-100: hsl(13, 31%, 94%);
    --color-pro-rose-300: hsl(14, 25%, 72%);
    --color-pro-rose-400: hsl(7, 20%, 60%);
    --color-pro-rose-500: hsl(12, 20%, 44%);
    --color-pro-rose-900: hsl(14, 65%, 9%);
}

@font-face {
    font-family: "Red Hat Text";
    src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf")
        format("truetype");
}

body {
    font-family: "Red Hat Text";
    color: var(--color-pro-rose-900);
    background-color: var(--color-pro-rose-50);
    padding: 0 1rem;
    display: grid;
    place-content: center;
}

.custom-scroll {
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.custom-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
